{% extends 'layout.jinja2' %}

{% block title %}{{ title }}{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Мероприятия Welcome Центра УрФУ</h1>
    </div>
<div class="row content_row">
{% for event in events %}
    <div class="col-md-3 col-md-offset-2 event">
        <p>{{ event.name }}</p>
        <p>{{ event.description }}</p>
        <p>{{ event.cost }}</p>
        <p>{{ event.email }}</p>
        <p>{{ event.phone }}</p>
        <p>{{ event.contact_face }}</p>
    </div>
{% endfor %}
</div>
{% endblock %}
