<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom styles for this scaffold -->
{#    <link rel="stylesheet" href="../static/style.css"/>#}
    <link rel="stylesheet" href="{{ request.static_url('WelcomeCentreSite:static/style.css') }}"/>

    <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->
  </head>
  <body>
    {% block navbar %}
        <div class="navbar navbar-default navbar-custom navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        Welcome Центр
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/events">Мероприятия</a></li>
                        <li><a href="/projects">Проекты</a></li>
                        <li><a href="/new_order">Новая заявка</a></li>
                    </ul>
                </div>
            </div>
        </div>
    {% endblock navbar %}

    {% block header %}
    {% endblock header %}

    {% block content %}
        <div class="container">
            <div class="page-content">
                {% block page_content %}{% endblock %}
            </div>
        </div>
    {% endblock %}

    <footer>
        <div class="container">
            <hr>
            <div class="row">
                <div class="col-lg-12 text-center footer-title">
                    <h3>Сайт Welcome Центра УрФУ</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 text-left footer-menu">
                    <h3>Карта сайта</h3>
                    <ul>
                      <li><a href="/">Главная</a></li>
                      <li><a href="/events">Мероприятия</a></li>
                      <li><a href="/projects">Проекты</a></li>
                      <li><a href="/new_order">Новая заявка</a></li>
                    </ul>
                </div>
                <div class="col-lg-6 text-center">
                    <p class="text-justify">
                        Welcome центр — это студенческий туристический кластер Уральского федерального университета.
                        В структуру кластера входят множество туристических и развлекательных студенческих
                        организаций УрФУ.
                    </p>
                    <address>620083, г. Екатеринбург, пр. Ленина, д. 51, 120</address>
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A787e22ad5c8371c4ec4f6bfd5806b9ec144faf0f13088a6ebf079ca00f8f2475&amp;width=575&amp;height=175&amp;lang=ru_RU&amp;scroll=true"></script>
                </div>
                <div class="col-lg-3 text-right">
                    <img src="../static/welcome.jpg" height="200">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 accounts">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://vk.com/uralwelcome/" target="_blank">VK</a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/welcome_urfu/" target="_blank">Instagram</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/UrFUnews/" target="_blank">Facebook</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row my_copyright">
                <div class="col-lg-12 text-right">
                    <p class="copyright text-muted">Сайт задизайнен студией
                        <a href="https://www.instagram.com/puzanovim" target="_blank">Puzanovim</a></p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
