{% extends 'layout.jinja2' %}

{% block title %}{{ title }}{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Заявка №{{ info.id }}</h1>
    </div>
<div>
    <p>{{ info.name }}</p>
    <p>{{ info.phone }}</p>
    <p>{{ info.email }}</p>
    <p>{{ info.contact_face }}</p>
    <p>{{ info.event }}</p>
    <p>{{ info.date }}</p>
    <p>{{ info.time }}</p>
    <p>{{ info.address }}</p>
    <p>{{ info.count_participants }}</p>
    <p>{{ info.note }}</p>
</div>
{% endblock %}