{% extends 'layout.jinja2' %}

{% block title %}{{ title }}{% endblock %}

{% block page_content %}
<div>
    <p>{{ info.name }}</p>
    <p>{{ info.description }}</p>
    <p>{{ info.email }}</p>
    <p>{{ info.phone }}</p>
    <p>{{ info.contact_face }}</p>
</div>
{% endblock %}